img {
  height: 25px;
  margin-right: 4px;
  vertical-align: middle;
}

.table thead tr {
  height: 45px;
}

.table thead .coin-name-header {
  text-align: left !important;
}

.table thead th {
  color: #4a4a4a;
  background: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  padding-right: 5px;
  text-align: left;
  overflow: hidden;
  line-height: 0;
  padding-top: 20px;
  padding: 0.75rem;
  &:hover {
    cursor: pointer;
  }
}

.table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.table tbody tr {
  height: 60px;
  max-height: 60px;
  overflow: hidden;
}
.alignright {
  text-align: right !important;
}

.table td {
  padding: 5px 8px;
  height: 30px;
  font-size: 0.875rem;
  vertical-align: middle;
}
.coin-info {
  display: flex;
}
.coin-icon {
  height: 30px;
  margin-right: 0.5rem !important;
  flex-direction: column !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center .name {
  width: 115px;
  color: #333;
  justify-content: space-between;
  text-decoration: none;
  font-weight: 700;
  background-color: transparent;
  text-align: left;
}
.center .ticker {
  font-weight: 300;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  text-align: left;
  align-items: left;
}

.green {
  color: green;
}
.red {
  color: red;
}

.price {
  display: flex;
  // text-align: right;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.price {
  display: flex;
  align-items: center;
  padding-top: 0.45rem;
  padding-left: 0.9rem;
}
